body {
  margin: 0px 0px 0px 0px
}

#main {
  position: absolute;
  border: 2px dotted orange;
}

#overlay-circ {
  position: absolute;
  left: 100px;
  top: 50px;
  border: 2px dotted blue;
}

#overlay-rect {
  position: absolute;
  left: 150px;
  border: 2px dotted black;
}

rect {
  fill: blue;
  opacity: 0.3;
}

circle {
  fill: red;
  opacity: 0.3;
}
