div {
  margin: 0px 0px 0px 0px;
  font-family: "Courier New";
}

video {
  float: right;
  position: fixed;
  right: 0px;

  width: 30%;
  /* border: 5px solid orange; */
}

canvas {
	border: 1px dotted blue;
}

#svg-labels {
  position: absolute;
  bottom: -879px;
  right: 539px;
  border: 1px solid green;
  /* z-index: -1; */
  pointer-events: none;
}

.label-rect {
	pointer-events: visiblePainted;
	fill: gray;
	opacity: 0.1;
}

.label-rect:hover {
	opacity: 0.4;
}



#svg-video {
  position: absolute;
  top: 29px;
  right: 489px;
  /* border: 1px solid orange; */
  /* z-index: -1; */
  pointer-events: none;
}

.video-line {
  stroke-width: 1;
  stroke: red;
}

.event-line {
  stroke-width: 0.5;
  stroke: orange;
}

.video-rect {
  pointer-events: visiblePainted;
  fill: red;
  opacity: 0.1;
}

rect:hover {
  opacity: 0.4;
}
