div {
  margin: 0px 0px 0px 0px;
  font-family: "Courier New";
}

video {
  float: right;
  position: fixed;
  right: 0px;

  width: 30%;
}

canvas {
	border: 1px dotted blue;
}



#svg-labels {
  position: absolute;
  bottom: -879px;
  right: 539px;
  border: 1px solid green;
	/* pointer-events: none; */
}

.label-rect {
	pointer-events: visiblePainted;
	opacity: 0.1;
}




#svg-video {
  position: absolute;
  top: 29px;
  right: 489px;
	pointer-events: none;
}

.video-line {
	/*to prevent break in highlighting*/
	/* pointer-events: none; */
  stroke-width: 1;
  stroke: red;
}

.event-line {
  stroke-width: 0.5;
  stroke: orange;
}

.video-rect {
	pointer-events: visiblePainted;
  fill: red;
  opacity: 0.1;
}

.video-rect:hover {
  opacity: 0.4;
}
