.left {
	width: 64%;
	float: left;

	/* color: #aaa;
	border-style: dashed;
	border-color: #ccc;
	text-align: center;
	font-size: 40px; */
}

.right {
	width: 35%;
	height: 98%;
	right: 8px;
	position: fixed;

	/* color: #aaa;
	border-style: dashed;
	border-color: #ccc;
	text-align: center;
	font-size: 40px; */
}

video {
	width: 100%;
	float: left;
	border: 5px solid orange;
}

div {
	margin: 0px 0px 0px 0px;
	border-width: 3px;
	font-family: "Courier New";
}
